<div class="header">
  <h3>Character Builder</h3>
  <h4>Builder</h4>
  <h4>Randomizer</h4>
</div>
<div class="builder">
  <form (submit)="buildImage()">
    <label for="eye">Eye:</label>
    <select id="eye" [(ngModel)]="eye" name="eye">
      <option>No Eye</option>
      <option>Half Open</option>
      <option>Closed</option>
      <option>Open</option>
    </select>

    <div>
      <label for="hasHammer">Has Hammer</label>
      <input type="checkbox" id="hasHammer" [(ngModel)]="hasHammer" name="hasHammer"/>
    </div>

    <label for="mouth">Mouth:</label>
    <select id="mouth" [(ngModel)]="mouth" name="mouth">
      <option selected>No Mouth</option>
      <option>Happy</option>
      <option>Normal</option>
      <option>Unhappy</option>
    </select>

    <label for="hand">Right Hand:</label>
    <select id="hand" [(ngModel)]="hand" name="hand">
      <option selected>No Hand</option>
      <option>Normal</option>
      <option>Victory</option>

    </select>

    <div>
      <label for="hasTail">Has Tail</label>
      <input type="checkbox" id="hasTail" [(ngModel)]="hasTail" name="hasTail"/>
    </div>

    <div>
      <button type="submit">Build image</button>
      <button>Feeling lucky...</button>
    </div>
  </form>
  <div>
    <img [src]="imageUrl()" width="250" />
  </div>
</div>
